@mixin font-face($style-name, $file:$style-name, $weight:normal, $style:normal) {
    $filepath: "../fonts/" + $file;
    @font-face {
        font-family: quote($style-name);
        src: url($filepath + ".eot");
        src: url($filepath + ".eot?#iefix") format('embedded-opentype'),
        url($filepath + ".woff") format('woff'),
        url($filepath + ".svg") format('svg'),
        url($filepath + ".ttf") format('truetype');
        font-weight: $weight;
        font-style: $style;
    }
}

@include font-face('main', 'Futuris');
@include font-face('aReg', 'Arial');
@include font-face('aBold', 'ArialBold');
