@import "../utils/_variables";

.page-wrapper {
    min-width: $min-width;
    width: 100%;
    position: relative;
    overflow: hidden;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #191919;
    opacity: .8;
    z-index: 25;
    display: none;
    &.active {
        display: block;
    }
}

.wrap, .wrap-big {
    min-width: $min-width;
    width: 100%;
    padding: 0 17px 0 17px;
    margin: 0 auto;
    position: relative;
}

.wrap-big {
    max-width: $max-width;
}

.wrap {
    max-width: 1170px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -17px;
}

.col-x4, .col-x3 {
    padding: 0 17px;
}

.col-x4 {
    @include flex-width(calc(100%/4));
}

.col-x3 {
    @include flex-width(calc(100%/3));
}

.page-title {
    text-align: center;
    padding: 0 0 20px;
    margin-bottom: 66px;
    &__inner {
        padding: 0 0 0 45px;
        display: inline-block;
        position: relative;
    }
    &__title {
        font-size: 48px;
        color: $color-grey;
        font-family: $aBold;
        position: relative;
        z-index: 3;
    }
    &__shape {
        position: absolute;
        top: -32px;
        left: 2px;
    }
}

.btn {
    font-family: $aBold;
    color: $color-grey;
    background: $color-yellow;
    display: inline-block;
    line-height: 40px;
    height: 40px;
    white-space: nowrap;
    padding: 0 16px;
    border-radius: 20px;
    font-size: 14px;
    &--border {
        background: transparent;
        border: 1px solid $color-yellow;
        color: $color-yellow;
        &:hover {
            color: $color-black;
            background: $color-yellow;
        }
    }
}

ul, ol {
    list-style-type: none;
}

.page-body {
    min-width: $min-width;
    width: 100%;
    flex-grow: 1;
}

h1, h2, h3, h4, h5 {
    font-weight: normal;
}
