.icon {
    display: inline-block;
    fill: #212121;
    &-arm {
        width: 80px;
        height: 80px;
    }
    &-girl {
        width: 80px;
        height: 80px;
    }
    &-happy {
        width: 80px;
        height: 80px;
    }
    &-pin {
        width: 80px;
        height: 80px;
    }
    &-play {
        width: 26px;
        height: 26px;
    }
}
