.first-screen {
    background: url("../img/first-bg.jpg") center top no-repeat #fff;
    padding: 127px 0 100px;
    &__text {
        position: absolute;
        top: 61px;
        left: 133px;
        z-index: 5;
        padding-top: 34px;
    }
    &__shape {
        background: $color-black;
        width: 1000px;
        position: absolute;
        left: 0;
        top: 0;
        margin-left: 176px;
        height: 142px;
        transform: translateX(-100%);
    }
    &__title {
        color: $color-yellow;
        font-family: $aBold;
        font-size: 105px;
        text-transform: uppercase;
        letter-spacing: 3px;
        z-index: 1;
        margin-bottom: 43px;
        span {
            letter-spacing: 21px;
            display: block;
            color: #fff;
            margin-bottom: 10px;
            position: relative;
            z-index: 100;
        }
    }
    &__content {
        display: flex;
        justify-content: flex-end;
    }
    &__photo {
        background: #12161b;
        box-shadow: 0px 10px 76px 0px rgba(72, 72, 72, 0.35);
        height: 682px;
        text-align: right;
        width: 89%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: .6;
        }
    }
    &__play {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 93px;
        width: 93px;
        border-radius: 50%;
        background: $color-yellow;
        box-shadow: 0px 3px 43px 0px rgba(0, 0, 0, 0.63);
    }
    &__btn {
        .btn.btn--big {
            height: 50px;
            line-height: 54px;
            font-size: 19px;
            padding: 0 13px;
        }
        @media (min-width: 992px) {
            display: none;
        }
        
    }
    @media (max-width: 992px) {
        padding: 0;
        margin: 0 -17px;
        &__play {
            display: none;
        }
        &__photo {
            height: 520px;
            width: 100%;
        }
        &__shape {
            display: none;
        }
        &__text {
            top: 0;
            left: 17px;
            width: auto;
            right: 17px;
            text-align: center;
            padding-top: 100px;
        }
        &__title {
            font-size: 80px;
            letter-spacing: 8px;
        }
    }
    @media (max-width: 700px) {
        &__title {
            font-size: 38px;
            letter-spacing: 4px;
            margin-bottom: 38px;
            span {
                letter-spacing: 10px;
            }
        }
        &__photo {
            height: 370px;
        }
    }
}

.about {
    padding: 65px 0;
    &__title {
        font-family: $aBold;
        font-size: 36px;
        text-align: center;
        margin-bottom: 84px;
    }
    &__text {
        font-family: $aBold;
        font-size: 18px;
        line-height: 24px;
        color: $color-grey;
        text-transform: uppercase;
        padding: 19px 0 0 0;
        position: relative;
        &:before {
            content: '';
            width: 40px;
            height: 2px;
            position: absolute;
            top: 0;
            left: 0;
            background: $color-grey;
        }
    }
    &__icon {
        position: relative;
        padding-left: 33px;
        margin-bottom: 17px;
        .icon {
            position: relative;
            z-index: 2;
        }
        &:before {
            content: '';
            width: 71px;
            height: 71px;
            position: absolute;
            bottom: 0;
            left: 0;
            background: url("../img/yellow-circle.png") center center no-repeat;
        }
    }
    @media (max-width: 600px) {
        padding: 53px 0;
        &__title {
            font-size: 20px;
            line-height: 24px;
            margin-bottom: 58px;
        }
        &__item {
            text-align: center;
            &:not(:last-child) {
                margin-bottom: 52px;
            }
        }
        &__icon {
            width: 106px;
            display: inline-block;
            margin-bottom: 24px;
        }
        &__text {
            font-size: 20px;
            line-height: 26px;
            padding: 25px 0 0 0;
            &:before {
                left: calc(50% - 16px);
            }
        }
    }
}

.how {
    padding: 56px 0 143px;
    &__title {
        font-family: $aBold;
        font-size: 36px;
        margin-bottom: 27px;
    }
    &__video {
        background: $color-black;
        height: 530px;
        width: 100%;
        position: relative;
        &-cover {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: .5;
            object-fit: cover;
        }
    }
    &__play-btn {
        width: 93px;
        height: 93px;
        border: 2px solid $color-yellow;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background: $color-black;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        box-shadow: 0px 3px 43px 0px rgba(0, 0, 0, 0.63);
        .icon {
            fill: $color-yellow;
        }
    }
    @media (max-width: 992px) {
        padding: 6px 0 0px;
        &__video {
            height: 366px;
        }
        &__title {
            font-size: 20px;
            margin-bottom: 15px;
            text-align: center;
        }
    }
}

.advantages {
    padding: 74px 0 84px;
    background: url("../img/advantages-bg.jpg") top center no-repeat;
    &__icon {
        width: 149px;
        height: 101px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 19px;
        .icon {
            fill: $color-yellow;
            width: 54px;
            height: 54px;
        }
    }
    &__content {
        padding: 33px 0 0;
        .slick-dots {
            width: 100%;
            display: flex;
            justify-content: center;
            margin: 39px 0 0;
            li {
                margin: 0 13px;
            }
            button {
                font-size: 0;
                height: 16px;
                width: 16px;
                background: #ccc;
                border: 3px solid $color-white;
                display: block;
                border-radius: 50%;
                padding: 0;
            }
            .slick-active {
                button {
                    border-color: $color-yellow;
                    background: $color-yellow;
                }
            }
        }
    }
    &__text {
        font-size: 18px;
        line-height: 24px;
        color: $color-grey;
        font-family: $aReg;
        text-align: center;
        span {
            font-family: $aBold;
        }
    }
    &__item {
        margin-bottom: 81px;
        &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(7), &:nth-child(8), &:nth-child(9) {
            .advantages {
                &__icon {
                    background: url("../img/el1.png") center center no-repeat;
                }
            }
        }
        &:nth-child(4), &:nth-child(5), &:nth-child(6), &:nth-child(10), &:nth-child(11), &:nth-child(12) {
            .advantages {
                &__icon {
                    background: url("../img/el3.png") center center no-repeat;
                }
            }
        }
    }
    @media (max-width: 992px) {
        &__content {
            padding: 16px 0 0;
        }
    }
    @media (max-width: 600px) {
        padding: 74px 0 10px;
        &__content {
            display: block;
        }
        &__item {
            margin-bottom: 0;
            width: 183px;
            padding: 0;
        }
        &__text {
            font-size: 16px;
            line-height: 20px;
            br {
                display: none;
            }
        }
    }
}

.price {
    padding: 70px 0 209px;
    background: url("../img/price-bg.jpg") top center no-repeat;
    .page-title {
        margin-bottom: 77px;
        &__shape {
            top: 34px;
        }
    }
    &__content {
        display: flex;
        justify-content: space-around;
    }
    @media (max-width: 778px) {
        &__content{
            flex-direction: column;
        }
    }
    @media (max-width: 600px) {
        padding: 47px 0 49px;
        .page-title {
            margin-bottom: 30px;
            &__shape {
                top: 18px;
                left: -22px;
                width: 71px;
            }
        }
    }
}

.card {
    background: $color-grey;
    width: 458px;
    border-radius: 5px;
    padding: 51px 53px 52px;
    box-shadow: 2px 0px 41.4px 4.6px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    &__main {
        flex-grow: 1;
    }
    &__title {
        text-align: center;
        text-transform: uppercase;
        color: $color-white;
        margin-bottom: 40px;
        font-size: 30px;
        position: relative;
        font-family: $aBold;
        padding-bottom: 20px;
        &:after {
            content: '';
            position: absolute;
            bottom: 10px;
            height: 3px;
            width: 48px;
            border-radius: 1px;
            background: $color-yellow;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &__list {
        padding:16px 0 34px;
        &-item {
            font-family: $main;
            font-size: 23px;
            color: $color-white;
            padding-left: 40px;
            position: relative;
            &:not(:last-child) {
                margin-bottom: 13px;
            }
            &:before {
                content: '';
                width: 21px;
                height: 10px;
                position: absolute;
                top: 4px;
                left: 2px;
                border: 2px solid $color-yellow;
                border-top-color: transparent;
                border-right-color: transparent;
                transform: rotate(-45deg);
            }
        }
    }
    &__text {
        font-family: $main;
        font-size: 24px;
        line-height: 36px;
        color: $color-white;
        margin-bottom: 26px;
    }
    &__subtitle {
        font-family: $aBold;
        font-size: 27px;
        color: $color-white;
    }
    &__price-list {
        padding: 31px 0 0;
        .card__price {
            margin-bottom: 23px;
        }
    }
    &__btn {
        text-align: center;
    }
    &__description {
        color: $color-white;
        font-size: 24px;
        line-height: 35px;
        font-family: $aReg;
        margin-bottom: 52px;
        span {
            font-family: $aBold;
            text-transform: uppercase;
            color: $color-yellow;
        }
    }
    &__price {
        color: $color-white;
        text-align: center;
        font-size: 27px;
        margin-bottom: 42px;
        b {
            font-size: 76px;
        }
        span {
            color: $color-yellow;
        }
        &--yellow {
            color: $color-yellow;
        }
    }
    @media (max-width: 992px) {
        margin: 0 5px;
        padding: 51px 36px 52px;
    }
    @media (max-width: 778px) {
        margin: 0;
        width: 100%;
        &:not(:last-child) {
            margin-bottom: 28px;
        }
    }
    @media (max-width: 600px) {
        padding: 32px 25px 32px 36px;
        &__title {
            font-size: 19px;
            margin-bottom: 13px;
            &:after {
                bottom: 13px;
                height: 2px;
                width: 30px;
            }
        }
        &__price {
            font-size: 18px;
            margin-bottom: 26px;
            b {
                font-size: 53px;
            }
            &-list {
                padding: 23px 0 36px;
                .card__price {
                    margin-bottom: 10px;
                }
            }
        }
        &__subtitle {
            font-size: 17px;
        }
        &__list {
            padding: 9px 0 22px;
            &-item {
                padding-left: 25px;
                font-size: 15px;
                &:before {
                    width: 14px;
                    height: 7px;
                    top: 2px;
                }
                &:not(:last-child) {
                    margin-bottom: 8px;
                }
            }
        }
        &__text {
            font-size: 15px;
            line-height: 28px;
            margin-bottom: 11px;
        }
        &__description {
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 32px;
        }
        &__btn {
            .btn {
                height: 34px;
                line-height: 35px;
                font-size: 16px;
                padding: 0 27px;
            }
        }
    }
}

.faq {
    background: $color-grey;
    padding: 57px 0 63px;
    .page-title {
        margin-bottom: 77px;
        &__shape {
            top: 34px;
        }
    }
    &__container {
        padding-left: 34px;
    }
    &__top {
        display: inline-flex;
        margin-bottom: 13px;
        align-items: center;
        cursor: pointer;
        @media (min-width: 992px) {
            &:hover {
                .faq__title {
                    color: $color-yellow;
                }
            }
        }
    }
    &__title {
        font-size: 24px;
        font-family: $aBold;
        color: $color-white;
        padding-left: 44px;
        span {
            margin-right: 7px;
            color: $color-yellow;
        }
    }
    &__text {
        display: none;
        background: $color-white;
        margin: 0 40px 0 9px;
        font-family: $main;
        font-size: 17px;
        line-height: 24px;
        padding: 20px 21px 20px 42px;
    }
    &__shape {
        flex-shrink: 0;
        position: relative;
        width: 26px;
        height: 26px;
        span {
            background: $color-yellow;
            position: absolute;
            &:first-child {
                width: 100%;
                height: 2px;
                left: 0;
                top: calc(50% - 2px);
            }
            &:nth-child(2) {
                height: 100%;
                width: 2px;
                top: 0;
                left: calc(50% - 2px);
            }
        }
    }
    &__item {
        &:not(:last-child) {
            margin-bottom: 24px;
        }
        &.open {
            .faq {
                &__shape {
                    transform: rotate(45deg);
                }
            }
        }
    }
    @media (max-width: 992px) {
        &__container {
            padding-left: 0;
        }
        &__title {
            padding-left: 10px;
        }
        &__text {
            margin: 0;
            font-size: 16px;
            line-height: 22px;
            padding: 12px 10px 12px 13px;
        }
    }
    @media (max-width: 600px) {
        .page-title {
            margin-bottom: 31px;
            &__shape {
                top: 22px;
                left: -28px;
                width: 66px;
            }
        }
        &__title {
            font-size: 18px;
        }
    }
}

.about-us {
    padding: 40px 0 77px;
    &__content {
        display: flex;
    }
    &__img {
        flex-shrink: 0;
        margin: 0 0 0 -370px;
    }
    .page-title {
        text-align: left;
        margin-bottom: 89px;
    }
    &__text {
        padding: 165px 0 0 106px;
    }
    &__list {
        li {
            font-family: $aBold;
            font-size: 22px;
            line-height: 25px;
            padding-left: 45px;
            position: relative;
            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: -13px;
                width: 37px;
                height: 37px;
                background: url('../img/check.svg') center center no-repeat;
            }
            &:not(:last-child) {
                margin-bottom: 46px;
            }
        }
    }
}

.contacts {
    padding: 115px 0 0;
    background: url("../img/contacts-bg.jpg") center center no-repeat;
    background-size: cover;
	&__content {
		display: flex;
	}
}

.career {
	background: $color-grey;
	&__content {
		padding: 114px 0 50px;
		p {
			font-size: 24px;
			line-height: 28px;
			font-family: $aBold;
			margin-bottom: 19px;
			color: $color-white;
		}
		.btn {
			margin-top: 28px;
			padding: 0 15px;
			font-size: 19px;
		}
	}
	&__title {
		color: $color-white;
		font-family: $aBold;
		font-size: 52px;
		padding-bottom: 34px;
		margin-bottom: 52px;
		position: relative;
		span {
			color: $color-yellow;
		}
	}
	&__shape {
		position: absolute;
		left: 0;
		bottom: 0;
	}
}